/*

thame Name: Ahmed
coder : Ahmed mersal
psd desginer

defulet color :#08526D
seconf color :#EA2E34
*/


/*start navbar*/
.navbar{
	height: 100px;
	background-color:#00659B;
	font-family: 'Changa', sans-serif;
}



.navbr-brand > span{
	font-size: 35px;
	color:red;
    font-family: 'Changa', sans-serif;
}

.navbr-brand > p{
	font-size:7px;
	margin:0;
}

.navbar-light .navbar-nav .nav-link {
    color:white;
}


.navbar-nav .nav-link{
	  font-size: 16px;
	text-transform: uppercase;
	margin-left: 16px;
	color:white;
}

.navbar-light .navbar-nav .active > .nav-link{
	color: red; !important
}

/*end navbar*/



/*start slider*/

.cover{
	background-color: #ddd;
	width: 100%;
	
}

.cover .carousel-inner {
font-family: 'Changa', sans-serif;
	display:flex;
	align-items: center;
	justify-content:left;
}

.cover .carousel-inner  .container{

position: absolute;
z-index: 3;
color:#e3e3e3;
max-width: 100%;
top: 57px;

}





.cover .carousel-inner .overlay{
position: absolute;
    z-index:2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
}



.cover .carousel-item { 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.cover .cover-img{
	background-image: url(https://f.top4top.net/p_1030wwrrs1.jpg);
	display: block;
}

.cover .carousel-inner  .container h1{
	padding-bottom: 100px;
	font-family: 'Changa', sans-serif;
    font-weight: normal;
	padding-top:40px
}

.col-sm-6:first-child{
	border-left: 1px solid white;
padding-left: 0px;
padding-right: 276px;}

.col-sm-6:last-child{
	border-right: 1px solid white;
padding-right: 0px;
padding-left: 276px;}

.col-sm-6 h2{
    font-family: 'Changa', sans-serif;
    font-size: 34px;
}

.col-sm-6 p{
   margin-bottom: 0rem;
	font-size: 59px;
font-family: 'Acme', sans-serif;
}

.col-sm-6 span{
    font-family: 'Changa', sans-serif;
    font-size: 23px;
}

/*star fotter*/
.fotter{
	top: 140px;
position: relative;
}

.fotter a{
	color: #E3E3E3;
margin-left: 16px;
text-decoration: none;
}



.fotter a:after{
	content: "";
margin: 0 auto;
padding-right: 9px;
padding-top: 0px;
padding-bottom: 0px;
border-left: 1px solid white;}
	
.fotter a:last-child:after{
	border:none;
}
/*end fotter*/
/*end slider*/

